@use postcss-color-function;
@use postcss-nested;
@import url('https://fonts.googleapis.com/css?family=Raleway:400,700,900');

a {
    color: black;
    text-decoration: none;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

/* 배너광고 */
.image_rolling_container {
    margin-top: 30px;
    height: 180px;
    width: 1200px;
}

.content_cotainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.banner_img {
    width: 1200px;
    height: 180px;
    margin-top: 30px;
    margin-bottom: 30px;
}

/* 게시판 필터 */
.board_header {
    width: 1200px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    align-items: center;
}

.board_filter {
    display: flex;
}

.filter {
    background-color: lightgray;
    font-weight: bold;
    border-radius: 10%;
    margin: 0px 0px 0px 10px;
    padding: 10px;
    cursor: pointer;
}

.board_search {
    display: flex;
    align-items: center;
    margin: 0px 10px 0px 0px;
}

.board_search form {
    display: flex;
    align-items: center;
    margin: 0px 10px 0px 0px;
}

.board_search input {
    width: 225px;
    height: 30px;
}

.board_search button {
    background-color: transparent;
    border: none;
    width: 45px;
    height: 30px;
    position: absolute;
    margin-left: 188px;
    border-left: 1px solid #ccc;
    cursor: pointer;
}

/* 글 내용 */
.post_list {
    width: 1200px;
    height: 180px;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    cursor: pointer;
    align-items: center;
    background-color: #F5EEDC;
    border-radius: 10px;
}

.post_list_container {
    display: flex;
    justify-content: center;
    width: 1150px;
    align-items: center;
}

.post_img {
    border: 1px solid black;
    width: 200px;
    height: 130px;
}

.post_img img {
    border: 1px solid black;
    width: 200px;
    height: 130px;
    object-fit: cover;
    /* 이미지가 컨테이너를 벗어나지 않도록 하면서 비율을 유지합니다. */
}

.post_container {
    margin-left: 15px;
    width: 850px;
}

.post_title {
    font-size: 1.4em;
    font-weight: bold;
}

.post_content {
    margin: 10px 0px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    height: 48px;
}

.post_content_info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 12px;
    color: #858585;
}

/* 페이지 번호 */
.page_num {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 40px;
}

.num {
    display: flex;
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 40px;
    height: 40px;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    margin-top: 10px;
    margin-left: 10px;
}

.num:hover {
    background-color: #97BFB4;
    color: white;
}

.write-button {
    position: fixed;
    bottom: 120px;
    right: 60px;
    background-color: #97BFB4;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    text-align: center;
    font-weight: 800;
    text-decoration: none;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.write-button a {
    color: #fff;
}

.write-button:hover {
    background-color: #97BFB4;
    cursor: pointer;
}