@use postcss-color-function;
@use postcss-nested;
@import url('https://fonts.googleapis.com/css?family=Raleway:400,700,900');

.container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* 검색창 */
.search_box {
    display: flex;
    background-color: #afffa4;
    align-items: center;
    height: 50px;
    width: 1180px;
    border-radius: 10px;
    color: #ccc;
    text-decoration: none;
    padding-left: 20px;
}

/* 배너광고 */
.image_rolling_container {
    margin-top: 20px;
    height: 150px;
    width: 1200px;
}
.content_cotainer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}
.image_area{
    background-color: pink;
    border-radius: 10px 10px 10px 10px;
    height: 100%;
    width: 100%;
}


/* 카테고리 */
.categories_container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 20px;
    width: 1200px;
}
.categories_top_area {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
    width: 100%;
    align-items: center;
}
.categories_top_area p {
    font-size: 32px;
    font-weight: bold;
}
button {
    border: none;
    background-color: #87CEEB;
    border-radius: 10px;
    padding: 10px 24px;
    font-weight: bold;
    font-size: 16px;
    line-height: 1;
    height: 60px;
    
}
button:hover {
    background-color: #5CACEE;
    cursor: pointer;
}
.categories_contents_area {
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 260px;
    width: 100%;
}
.categories_content {
    background-color: green;
    height: 100%;
    width: 165px;
}
.category_img {
    background-color: pink;
    height: 200px
}
.category_title p{
    text-align: center;
    font-weight: bold;
}

/* 게시물미리보기 */
.recipes_previews {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1200px;
    margin: 80px 0 40px 0;
}
.preview_title {
    margin: 0 0 30px 0;
    font-size: x-large;
}
.recipe_contents_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1200px;
    height: 400px;
    padding: 10px 0px 10px 0px;
}
.recipe_content {
    background-color: #ecfafd;
    display: flex;
    flex-direction: column;
    margin: 0 5px 0 0;
    border-radius: 20px;
    width: 380px;
    height: 100%;
}
.recipe_image {
    background-color: pink;
    border-radius: 20px;
    height: 300px;
    width: 340px;
}
.thumbnail {
    width: 380px;
    height: 300px;
    border-radius: 20px;
}
.recipe_title{
    font-size: 1.5rem;
    margin: 15px 0 15px 0;
    padding: 0 5px 0 5px;
}
.recipe_info{
    font-size: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: 5px;
    width: 200px;
}
.previes_title p {
    font-size: 32px;
    font-weight: bold;
}
