/* header */
.topnav {
    background-color: none;
    display: flex;
    height: 75px;
    z-index: 1;
    justify-content: center;
    border-bottom: 1px solid #ccc;
}

#main_logo {
    width: 180px;
}

.NDjango_logo {
    display: flex;
    float: left;
    margin-top: 15px;
    margin-left: -40px;
    width: 120px;
    height: 60px;
}

#topnav_info {
    width: 750px;
    margin-left: 30px;
    display: flex;
    justify-content: right;
    align-items: center;
}

.cate {
    padding: 30px;
    text-decoration: none;
    margin-right: 45px;
    font-size: 18px;
    font-weight: bold;
}

.cate:hover {
    color: #FFF;
    background-color: #97BFB4;
}

.info_login {
    width: 170px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.alarm_btn {
    width: 30px;
    height: 30px;
    border-radius: 50px;
    padding: 10px;
}

.userInfo_btn {
    width: 30px;
    height: 30px;
    border-radius: 50px;
    padding: 10px;
}