.header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.header_in_header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 60px;
    width: 1200px;
}

.header_title{
    margin-bottom: 30px;
}

.header_info {
    display: flex;
    flex-direction: column;
}

.recipes_tags{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;        
}

.posted_by {
    display: flex;
    flex-direction: row;
    border-left: 1px solid #ccc;
    width: 130px;
    padding-left: 40px;
    padding-right: 10px;
}

.posted_by:first-child{
    border: none;
    padding: 0px;
}

.posted_by_info {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    justify-content: center;
}

.name, .posted_by_info_text {
    font-weight: bold;
}

.time {
    font-size: 12px;
    color: #a7a7a7;
    font-weight: bold;
}
.post_img {
    height: 100px;
    width: 200px;
}

.posted_img {
    width: 40px;
    height: 40px;
    border-radius: 50px;
}
.post-content{
    align-items: center;
    justify-content: center;
    width: 1200px;

}
.icons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    gap: 25px;
    padding-top: 30px;
    width: 1200px;
}

.icons_box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.icon_box {
    display: flex;
    width: 60px;
    height: 60px;
    border-radius: 50px;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}

.icon {
    width: 40px;
    height: 40px;
    border-radius: 50px;
}

.main_box {
    width: 1720px;
    height: 700px;
    display: flex;
    flex-direction: row;
    gap: 80px;
    padding-left: 60px;
    padding-right: 60px;
    justify-content: center;
    align-items: center;
}

.main_picture {
    width: 70%;
    height: 100%;
    background-color: none;
}

.thumbnail {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 25px;
}

.recipe_info{
    width: 30%;
    height: 100%;
    background-color: #E7FAFE;
    color: black;
    border: none;
    border-radius: 25px;
}

.title_ingredient {
    font-size: 24px;
    font-weight: bold;
    margin-top: 30px;
    margin-left: 30px;
}

.ingredient {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    margin-bottom: 20px;
    margin-left: 45px;
}

.body_02 {
    display: flex;
    flex-direction: row;
    width: 1200px;
    padding: 60px;
    gap: 80px;
}

.h3 {
    font-size: 36px;
    margin-top: 80px;
    margin-left: 550px;
}

.directions {
    display: flex;
    flex-direction: row;
    width: 70%;
    gap: 30px;
}

.recipe_process {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.step-image {
    margin-bottom: 20px;
}

.step-image img {
    border: none;
    border-radius: 25px;
    width: 40%;
}

.direction-step {
    width: 100%;
}

.side_title {
    font-size: 24px;
    font-weight: bold;
}

.side_recipe {
    display: flex;
    flex-direction: column;
    width: 30%;
    gap: 30px;
}

.other_recipes {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.other_recipe_content_pic {
    width: 50%;
    height: 150px;
    border: 1px solid black;
    border-radius: 25px;
}

.other_recipe_info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.orther_recipe_title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 18px;
    font-weight: bold;
    width: 100%;
    height: 70%;
}

.other_recipe_auther {
    font-size: 14px;
    color: #ccc;
    width: 100%;
    height: 30%;
}

.ads {
    border: 1px solid black;
    height: 500px;
    margin-top: 60px;
}

/* 추천 레시피 */
#recommend_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
}

.recommend_title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 40px;
}

.recommend_info{
    margin-left: 30px;
}

.recommend_recipes {
    display: flex;
    flex-direction: row;
}

.recommend_img {
    border: 1px solid #ccc;
    border-radius: 25px;
    width: 240px;
    height: 180px;
}

.food_name {
    font-size: 18px;
    font-weight: bold;
}

.custom-button {
    background-color: #97BFB4; /* Change the background color to your preference */
    color: white;
    padding: 10px 20px; /* Adjust the padding as needed */
    border: none;
    border-radius: 5px; /* Add rounded corners to the button */
    cursor: pointer;
  }
  /* Add a horizontal line below the button */
.custom-button::after {
    content: "";
    display: block;
    width: 100%;
    margin-top: 5px; /* Adjust the distance between the button and the line */
  }