.header{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
}
.header_in_header {
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    justify-content: space-between;
    padding: 60px;
}

.header_title{
    margin-bottom: 30px;
}

.header_info {
    display: flex;
    flex-direction: column;
}

.recipes_tags{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;        
}

.posted_by {
    display: flex;
    flex-direction: row;
    border-left: 1px solid #ccc;
    padding-left: 40px;
}

.posted_by:first-child{
    border: none;
    padding: 0px;
}

.posted_by_info {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    justify-content: center;
}

.name, .posted_by_info_text {
    font-weight: bold;
}

.time {
    font-size: 12px;
    color: #a7a7a7;
    font-weight: bold;
}

.posted_img {
    width: 40px;
    height: 40px;
    background-color: #ffbaba;
    border-radius: 50px;
}

.icons{
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    align-items: center;
    gap: 25px;
    padding-top: 30px;
}

.icons_box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.icon_box {
    display: flex;
    width: 60px;
    height: 60px;
    background-color: #ffbaba;
    border-radius: 50px;
    align-items: center;
    justify-content: center;
}

.icon {
    width: 40px;
    height: 40px;
    background-color: #ccc;
    border-radius: 50px;
}
.main_picture{
    width: 1078.639px;
    height: 696.722px;
    background: url(<path-to-image>), lightgray 50% / contain no-repeat;
}
.nutrition_card{
    width: 535.938px;
    height: 671px;
    border-radius: 30px;
    background: #E7FAFE;
    border: 1px solid black;
}

.ingredients_main_menu{
    width: 1206px;
    height: 561px;
    display: flex; 
    flex:left;
    flex-direction: column;
    flex-shrink: 0;
    border: 1px solid black;
}
.sauce{
    width: 1204px;
    height: 293px;
    display: flex; 
    flex-direction: column;
    border: 1px solid black;
}
.ads_and_recipes{
    display: flex;
    flex-direction: column;
}
.other_recipe{
    width: 400px;
    height: 479px;
    flex:left;
    margin-top: 10px; /* 원하는 간격으로 설정 */
    margin-bottom: 10px; /* 원하는 간격으로 설정 */
    border: 1px solid black;
}
.other_recipes{
    display: flex;
}
.other_recipe_content_pic{
    width: 100px;
    height: 80px;
    flex-shrink: 0;
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}
.ads{
    width: 400px;
    height: 434px;
    flex-shrink: 0;
    background: linear-gradient(180deg, #357355 0%, #1D483B 100%);
}
.recommend_container {
    display: flex;
    flex-direction: row;  
}

.recipe_recommendation{
    width: 1600px;
    height: 550px;
    display: inline-flex;
    flex-direction: column;  
    border: 1px solid black;
}
.body_02 {  /*재료, 소스, 광고, 다른 레시피*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    border: 1px solid black;
    gap: 20px;
    width: 1204px;
}

.body_01 {  /*재료, 소스, 광고, 다른 레시피*/
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
    padding: 20px;
    border: 1px solid black;
    gap: 20px;
}


.picture_box {
    display: flex;
    flex-direction: column;
    padding: 0px 200px;
    
}
.recipe_info{
    color: #E7F9FD;
}
.picture_content{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.directions{
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 61px;
    border: 1px solid black;
}

.subscribe_box{
    width: 1720px;
    height: 625px;
    flex-shrink: 0;
    border-radius: 60px;
    background: #E7F9FD;
    border: 1px solid black;
}
