/* write_post.css */


header {
    display: flex;
    flex-direction: row;
}

body {
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    background-color: #f1f1f1;
    margin: 0;
    align-items: center;
}

.topnav {
    border-bottom: 1px solid #ccc;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 50px;
    justify-content: space-between;
    background-color: white;
    border-bottom: 1px solid rgb(0, 219, 66);
    padding: 10px;
}

.board_content {
    background-color: white;
    width: 50%;
    height: 800px;
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 80px;
}

.title {
    display: flex;
    align-items: center;
    width: 100%;
    height: 60px;
}

.title_content {
    width: 100%;
    font-size: 40px;
    border: none;
    resize: none;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.board_content {
    width: 50%;
}


/* .content {
    display: flex;
    align-items: center;
    width: 100%;
    height: 500px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 30px;
    margin-top: 30px;
} */

.contents {
    width: 100%;
    height: 500px;
    font-size: 15px;
    border: none;
    resize: none;
    box-sizing: border-box;
}

.NDjango_logo {
    width: 100px;
    height: 50px;
    margin-left: 40px;

}

.button-style,
.publish-button {
    background-color: rgb(0, 219, 66);
    /* 네이버 버튼 색상 */
    color: #ffffff;
    /* 글자 색상 */
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition-duration: 0.4s;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.button-style:hover {
    background-color: #ffffff;
    color: rgb(0, 219, 66);
    border: 1px solid rgb(0, 219, 66);
}

.publish-button:hover {
    background-color: #ffffff;
    color: rgb(0, 219, 66);
    border: 1px solid rgb(0, 219, 66);
}