/* write_post.css */

header {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 50px;
    justify-content: space-between;
    background-color: white;
    border-bottom: 1px solid rgb(146, 146, 146);
}

body {
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    background-color: #ccc;
    margin: 0;
    align-items: center;
}

.board_content {
    background-color: white;
    width: 50%;
    height: 800px;
    padding: 120px 120px;
}

.title {
    display: flex;
    align-items: center;
    width: 100%;
    height: 60px;
}

.title_content {
    width: 100%;
    font-size: 32px;
    border: none;
}

.content {
    display: flex;
    align-items: center;
    width: 100%;
    height: 60px;
}

.contents {
    width: 100%;
    font-size: 15px;
    border: none;
}