{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Community</title>
    <link rel="stylesheet" href="/static/css/reset.css" >
    <link rel="stylesheet" href="/static/css/board.css" >
</head>
<body>
    {% include 'navbar.html' %}
    <div class="container">
        <!-- 광고 배너 -->
        <section>
            <div class="image_rolling_container">
                <div class="content_cotainer">
                    <img class='banner_img' src="{% static 'img/banner.png' %}" alt="">
                </div>
            </div>
        </section>
        
        
        <!-- 커뮤니티 게시판 -->
        <section>
            <!-- 게시판 필터 -->
            <div class="board_header">
                <div class="board_filter">
                    <div class="filter"><a href="{% url 'board' 'ALL' %}">전체글</a></div>
                    <div class="filter"><a href="{% url 'board' 'recipe' %}">레시피</a></div>
                    <div class="filter"><a href="{% url 'board' 'talk' %}">잡담</a></div>
                    {% if request.session.user_id %}
                    <div class="filter"><a href="{% url 'board' 'my' %}">나의글</a></div>
                    {% endif %}
                </div>
                <div class="board_search">
                    <form method="get" action="{% url 'board' filter %}">
                        <input type="text" name="query">
                        <button type="submit">검색</button>
                    </form>                        
                    {% if request.session.user_id %}
                    <a href={% url "write_post" %}>
                        <div class="write-button">
                            글쓰기
                        </div>
                    </a>
                    {% endif %}
                </div>
            </div>

            <!-- 글 내용 -->
            {% for post in posts.object_list %}
            <a href={% url 'post' post_no=post.post_no %}>
                <div class="post_list">
                    <div class="post_list_container">
                        <!-- Conditionally display the thumbnail image -->
                        <div class="post_img">
                            <img src="{{ post.thumbnail_url|default:icon_photo }}" alt="Post Thumbnail" style="width: 100%; height: 100%; object-fit: cover;">
                        </div>
                        <div class="post_container">
                            <span class="post_title">{{ post.post_title }}</span>
                            <p class="post_content">{{ post.post_content|striptags }}</p>
                            <div class="post_content_info">
                                <p>{{ post.user_nick }} | {{ post.post_time }}</p>
                                <p>조회수 : {{ post.post_hit }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
            {% endfor %}
            
        </section>
        <!--페이지 이동-->
        <section>
            <!-- board.html -->
            <div class="page_num">
                {% if posts.has_previous %}
                    <a href="/board/{{ filter }}/?page=1" class="num"><<</a>
                    <a href="/board/{{ filter }}/?page={{ posts.previous_page_number }}" class="num"><</a>
                {% endif %}

                {% for i in posts.paginator.page_range %}
                    {% if posts.number == i %}
                        <span class="num current">{{ i }}</span>
                    {% else %}
                        <a href="/board/{{ filter }}/?page={{ i }}" class="num">{{ i }}</a>
                    {% endif %}
                {% endfor %}

                {% if posts.has_next %}
                    <a href="/board/{{ filter }}/?page={{ posts.next_page_number }}" class="num">></a>
                    <a href="/board/{{ filter }}/?page={{ posts.paginator.num_pages }}" class="num">>></a>
                {% endif %}
            </div>
        
        </section>
    </div>
    {% include 'footerbar.html' %}
</body>
<script>
    document.getElementById('search-form').addEventListener('submit', function (event) {
        event.preventDefault();
        var query = document.getElementById('search-input').value;
        fetch(`/board/search/?query=${query}`)
            .then(response => response.text())
            .then(html => {
                document.getElementById('search-results').innerHTML = html;
            });
    });
</script>
    
</html>