{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Community</title>
    <link rel="stylesheet" href="{%static "css/board.css"%}" >
</head>
<body>
    {% include 'navbar.html' %}
    <div class="container">
        <!-- 광고 배너 -->
        <section>
            <div class="ad_slide">
                <div class="ad_slide_item">
                    <h1>광고 배너</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, <br> sed do eiusmod tempor incididunt ut labore et dolore</p>
                </div>
            </div>
        </section>
        
        
        <!-- 커뮤니티 게시판 -->
        <section>
            <!-- 게시판 필터 -->
            <div class="board_header">
                <div class="board_filter">
                    <div class="filter">ALL</div>
                    <div class="filter">recipe</div>
                    <div class="filter">talk</div>
                    <div class="filter">my</div>
                </div>
                <div class="board_search">
                    <input type="text">
                    <button>검색</button>
                </div>
            </div>

            <!-- 글 내용 -->
            <a href=""><div class="post_list">
                <div class="post_list_container">
                    <div class="post_img">
                        <img src="" alt="">
                    </div>
                    <div class="post_container">
                        <span class="post_title">How did you start out in the food industry?</span>
                        <p class="post_content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ac ultrices odio. Nulla at congue diam, at dignissim turpis. Ut vehicula sed velit a faucibus. In feugiat vestibulum velit vel pulvinar. Fusce id mollis ex. Praesent feugiat elementum ex ut suscipit.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ac ultrices odio. Nulla at congue diam, at dignissim turpis.</p>
                    </div>
                </div>
            </div></a>
            <a href=""><div class="post_list">
                <div class="post_list_container">
                    <div class="post_img">
                        <img src="" alt="">
                    </div>
                    <div class="post_container">
                        <span class="post_title">How did you start out in the food industry?</span>
                        <p class="post_content">Curabitur ac ultrices odio. Nulla at congue diam, at dignissim turpis. Ut vehicula sed velit a faucibus. In feugiat vestibulum velit vel pulvinar. Fusce id mollis ex. Praesent feugiat elementum ex ut suscipit. </p>
                    </div>
                </div>
            </div></a>
            <a href=""><div class="post_list">
                <div class="post_list_container">
                    <div class="post_img">
                        <img src="" alt="">
                    </div>
                    <div class="post_container">
                        <span class="post_title">How did you start out in the food industry?</span>
                        <p class="post_content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ac ultrices odio. </p>
                    </div>
                </div>
            </div></a>
            
        </section>
    </div>
</body>
{% include 'footerbar.html' %}
</html>