{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Community</title>
    <link rel="stylesheet" href="{%static "css/board.css"%}" >
</head>
<body>
    {% include 'navbar.html' %}
    <div class="container">
        <!-- 광고 배너 -->
        <section>
            <div class="ad_slide">
                <div class="ad_slide_item">
                    <h1>광고 배너</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, <br> sed do eiusmod tempor incididunt ut labore et dolore</p>
                </div>
            </div>
        </section>
        
        
        <!-- 커뮤니티 게시판 -->
        <section>
            <!-- 게시판 필터 -->
            <div class="board_header">
                <div class="board_filter">
                    <div class="filter"><a href="{% url 'board' 'ALL' %}">ALL</a></div>
                    <div class="filter"><a href="{% url 'board' 'recipe' %}">recipe</a></div>
                    <div class="filter"><a href="{% url 'board' 'talk' %}">talk</a></div>
                    {% if request.session.user_id %}
                    <div class="filter"><a href="{% url 'board' 'my' %}">my</a></div>
                    {% endif %}
                </div>
                <div class="board_search">
                    <input type="text">
                    <button>검색</button>
                    {% if request.session.user_id %}
                    <a href={% url "write_post" %}>글쓰기</a>
                    {% endif %}
                </div>
            </div>

            <!-- 글 내용 -->
            {% for post in posts %}
            <a href={% url 'post' post_no=post.post_no %}><div class="post_list">
                <div class="post_list_container">
                    <div class="post_img">
                        <img src="" alt="">
                    </div>
                    <div class="post_container">
                        <span class="post_title">{{ post.post_title }}</span>
                        <p class="post_content">{{ post.post_content|striptags }}</p>
                        <p class="post_content">{{ post.user_nick }} | {{ post.post_time }} | {{ post.post_hit }}</p>
                    </div>
                </div>
            </div></a>
            {% endfor %}
            
        </section>
    </div>
</body>
{% include 'footerbar.html' %}
</html>