{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/static/css/footerbar.css" >
</head>
<body>
    <footer>
        <div class="footer_container">
            <div class="footer_dotori">
                <a href="{% url 'main' %}">
                    <img class="NDjango_logo" src="{% static 'img/NDjango.png' %}" alt=''>
                </a>
            </div>
            <br>          
            <div class="footer_nav">
                <ul class="footer_list">
                    <li>회사소개</li>
                    <li>인재채용</li>
                    <li>개인정보처리방침</li>
                    <li>커뮤니티</li>
                    <li>이용약관</li>
                </ul>
            </div>
        </div>
    </footer>
</body>
</html>