{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{% static "css/footerbar.css" %}">

</head>
<body>
    <footer>
        <div class="footer_container">
            <div class="footer_nav">
                <p class="footer_title">Dotori key-jeakki</p>
                <ul class="footer_list">
                    <li>리스트 아이템 1</li>
                    <li>리스트 아이템 2</li>
                    <li>리스트 아이템 3</li>
                    <li>리스트 아이템 4</li>
                </ul>

            </div>
            <div class="footer_info">
                <p>Lorem ipsum dolor sit amet, consectetuipisicing elit, </p>

            </div>
            <div class="footer_line">

            </div>

            <div class="footer_dotori">
                <p>© 2020 Flowbase. Powered by Webflow</p>
            </div>
        </div>
    </footer>
</body>
</html>