{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- 로컬 변환용 -->
    <link rel="stylesheet" type="text/css" href="/static/css/search.css">
    <link rel="stylesheet" type="text/css" href="/static/css/img_search.css">

</head>
<body>
    <header>
        {% comment %} 상단 네비게이션 {% endcomment %}
        <div id="nav">
            <div class="top_nav">
                <div class="img_box">
                    <a href="{% url 'main' %}">
                        <img class="NDjango_logo" src="{% static 'img/NDjango.png' %}" alt=''>
                    </a>
                </div>
            </div>
            {% comment %} 검색기 변환 {% endcomment %}
            <div class="bottom_nav">
                <a class='search_kind' href="{% url 'search' %}" id="searchLink">레시피 검색</a>
                <a class='search_kind' href="{% url 'material_search' %}" id="ingredientSearchLink">영수증 검색</a>
                <a class='search_kind' href="{% url 'img_search' %}" id="imageSearchLink">이미지 검색</a>
            </div>
        </div>
    </header>
    <article>
        {% comment %} 검색창 {% endcomment %}
        {% comment %} <form method="get" action="{% url 'search_result' %}"></form> {% endcomment %}
        <div id="search">
            {% comment %} {% csrf_token %} {% endcomment %}
            <input type="text" id="searchInput" name="search" class="search_input" placeholder="레시피를 입력하세요.">
            <button type="submit" class="search_button" id="searchButton">
                {% comment %} 돋보기 아이콘 넣기 {% endcomment %}
                <img class="search_img" src="{% static 'img/search_icon.png' %}" alt="">
            </button>
            <div class="voice_btn">
                <img class="voice" src="{% static 'img/voice_after.png' %}" alt="">
            </div>
        </div>
        {% comment %} 이미지 검색 {% endcomment %}
        <div class="img_container">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <img id="imagePreview" src="{% static 'img/icon_photo.png' %}" alt="">
                <input type="file" name="image" accept="image/*" required id="imageInput">
                <label for="imageInput" class="custom-file-upload">이미지 선택하기</label>
                <div>
                    <button class='img_search_btn' type="submit">재료 추출하기</button>
                </div>
            </form>
        </div>
        <!-- 에러 메세지 -->
        {% if messages %}
            <div class="error_msg">
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
            </div>
        {% endif %}
    </article>
</body>
<!-- 로컬 변환용 -->
<script src="/static/js/search.js"></script>
<script src="/static/js/img_search.js"></script>
<script>
    var searchURL = "{% url 'search' %}";
    var searchResultURL = "{% url 'search_result' %}";
</script>
<script>
    // 추출된 키워드를 검색창에 자동으로 입력
    document.getElementById('searchInput').value = '{{ text|join:''}}';
    
    function search() {
        var input = document.getElementById('searchInput');
        var query = encodeURIComponent(input.value);
        location.href = "{% url 'search_result' %}?query=" + query;
    }
    </script>
<script src="{% static 'js/search.js' %}"></script>
<script src="{% static 'js/img_search.js' %}"></script>
</html>