{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Page</title>
    <link rel="stylesheet" href="{% static 'css/main.css'%}">
    <link rel="stylesheet" href="{% static 'css/reset.css'%}">
    <link rel="stylesheet" href="{% static 'css/mypage.css'%}">
    <script src="contents_app/js/mypage_edit.js" defer></script>
</head>

<body>

    <header class='topnav'>
        {% comment %} 냉장고 해방일지 로고 {% endcomment %}
        <div id='main_logo'>
            <a href="{% url 'main' %}">
                <img class="NDjango_logo" src="{% static 'img/NDjango.png' %}" alt=''>
            </a>
        </div>

        <div class='info_login'>
            <a class='alarm_div' href="#" id="alarmLink">
                <img class="alarm_btn" src="{% static 'img/alarm_normal.png' %}" alt=''>
            </a>
            <a class='cate' href={% url "login" %}>Login</a>
        </div>
    </header>
    <hr>

<script>
    {% comment %} 알람버튼 호버기능 {% endcomment %}
    var alarmLink = document.getElementById("alarmLink");
    var img = document.querySelector(".alarm_btn");
    
    alarmLink.addEventListener("mouseover", function() {
        img.src = "{% static 'img/alarm_react.png' %}";
        img.alt = "New Alt Text";
    });

    alarmLink.addEventListener("mouseout", function() {
        img.src = "{% static 'img/alarm_normal.png' %}";
        img.alt = "Original Alt Text";
    });
</script>

    <div class="wrapper">
        <aside class="category-sidebar">
            <header>
                <h1 class="chef_njango">{{ user_profile.user_name }} 셰프의 냉장고</h1>
            </header>
            <ul class="category-list">
                <li><a href="user-info">셰프 정보</a></li>
                <li><a href="favorite_list">마음 상자</a></li>
                <li><a href="current-watching">최근 감상 목록</a></li>
                <li><a href="alarm_list">알림 목록</a></li>
                <!-- Add more categories as needed -->
            </ul>
        </aside>
        <main id="first_main">
        
            <section id="profile">
                <div class="profile-picture">
                    <!-- 프로필 업로드 폼 -->
                    <input type="file" id="profile-picture" name="profile-picture1"><br>
                    <label for="profile-picture1">프로필 사진</label>
                </div>
                <h2>{{ user_profile.user_name }}</h2>
                <p>{{ user_profile.subject }}</p>

                <div class="user-details">
                    <!-- 사용자 이름 / 닉네임? -->
                    <label for="username">NAME</label><br>
                    <input type="text" id="username" name="username" value="{{ user_profile.user_name }}" readonly><br><br>

                    <!-- 이메일 주소 입력 -->
                    <label for="email">EMAIL ADDRESS </label><br>
                    <input type="email" id="email" name="email" value="{{ user_profile.email }}" readonly><br><br>
                </div>
            </section><br>
            <div class="user-details">
            <label for="enquiry-type">이메일 주소</label><br>
            <select id="enquiry-type" name="enquiry-type">
                <option value="general">음..</option>
                <option value="support">지원</option>
                <option value="friend">친구 신청</option>
            </select><br><br>
            

            <label for="phonenumber">전화번호</label><br>
            <input type="text" id="phonenumber" name="phonenumber" value="{{ user_profile.phonenumber }}" readonly><br><br>
            </div>
            <div class="create_location">
                <label for="location">거주지역</label><br>
                <input type="text" id="location" name="location" value="{{ user_profile.location }}" readonly><br><br>

                <label for="date">가입 일자</label><br>
                <input type="date" id="date_first" name="created_at" value="{{ user_profile.created_at }}" readonly>
            </div>

        <!--저장 버튼-->
            <button type="submit"> SEND </button>

        <!-- 수정 버튼 -->
            <button type="button" id="edit-button" onclick="goToEditPage()"> EDIT </button>
            </div>
    </main>
        {% include 'footerbar.html' %}

        <script>
            function goToEditPage() {
                window.location.href = "profile_edit.html";
            }
        </script>
    </main>
    
</body>

</html>