{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{% static "css/main.css" %}">
</head>
<body>
    <header class='topnav'>
        {% comment %} 냉장고 해방일지 로고 {% endcomment %}
        <div id='main_logo'>
            <a href="{% url 'main' %}">
                <img class="NDjango_logo" src="{% static 'img/NDjango.png' %}" alt=''>
            </a>
        </div>

        <div id='topnav_info'>
            <a class='cate' href="board">커뮤니티</a>
            <a class='cate' href="">category2</a>
            <a class='cate' href="">category3</a>
            <a class='cate' href="">category4</a>
            <a class='cate' href="">category5</a>
        </div>

        <div class='info_login'>
            {% if request.session.user_id %}
            <a class='alarm_div' href="#" id="alarmLink">
                <img class="alarm_btn" src="{% static 'img/alarm_normal.png' %}" alt=''>
            </a>
            <a class='cate' href={% url "logout" %}>Logout</a>
            {% else %}
            <a class='alarm_div' href="#" id="alarmLink">
                <img class="alarm_btn" src="{% static 'img/alarm_normal.png' %}" alt=''>
            </a>
            <a class='cate' href={% url "login" %}>Login</a>
            {% endif %}
        </div>
    </header>
    <hr>
    
</body>
<script>
    {% comment %} 알람버튼 호버기능 {% endcomment %}
    var alarmLink = document.getElementById("alarmLink");
    var img = document.querySelector(".alarm_btn");
    
    alarmLink.addEventListener("mouseover", function() {
        img.src = "{% static 'img/alarm_react.png' %}";
        img.alt = "New Alt Text";
    });

    alarmLink.addEventListener("mouseout", function() {
        img.src = "{% static 'img/alarm_normal.png' %}";
        img.alt = "Original Alt Text";
    });
</script>

</html>