{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/main.css" >
</head>
<body>
    <header class='topnav'>
        {% comment %} 냉장고 해방일지 로고 {% endcomment %}
        <div id='main_logo'>
            <a href="{% url 'main' %}">
                <img class="NDjango_logo" src="{% static 'img/NDjango.png' %}" alt=''>
            </a>
        </div>

        <div id='topnav_info'>
            {% if request.session.user_id %}
            <a class='cate' href="{% url 'ndjango' %}">내 냉장고</a>
            {% endif %}
            <a class='cate' href="{% url 'search' %}">레시피찾기</a>
            <a class='cate' href="{% url 'board' 'ALL' %}">커뮤니티</a>
        </div>

        <div class='info_login'>
            {% if request.session.user_id %}
            <a class='alarm_div' href="#" id="alarmLink">
                <img class="alarm_btn" src="{% static 'img/alarm_normal.png' %}" alt=''>
            </a>
            <a class='userInfo_div' href="{% url "mypage" %}" id="userLink">
                <img class="userInfo_btn" src="{% static 'img/user_icon.png' %}" alt=''>
            </a>
            <a class='cate' href={% url "logout" %}>Logout</a>
            {% else %}
            <a class='alarm_div' href="#" id="alarmLink">
                <img class="alarm_btn" src="{% static 'img/alarm_normal.png' %}" alt=''>
            </a>
            <a class='userInfo_div' href="" id="nouserLink">
                <img class="userInfo_btn" src="{% static 'img/user_icon.png' %}" alt=''>
            </a>
            <a class='cate' href={% url "login" %}>Login</a>
            {% endif %}
        </div>
    </header>
    
</body>
<script>
    {% comment %} 알람버튼 호버기능 {% endcomment %}
    var alarmLink = document.getElementById("alarmLink");
    var img = document.querySelector(".alarm_btn");
    
    alarmLink.addEventListener("mouseover", function() {
        img.src = "{% static 'img/alarm_react.png' %}";
        img.alt = "New Alt Text";
    });

    alarmLink.addEventListener("mouseout", function() {
        img.src = "{% static 'img/alarm_normal.png' %}";
        img.alt = "Original Alt Text";
    });
</script>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        // userInfo_div 클릭 시 알림 창 띄우기
        var userInfoLink = document.getElementById("nouserLink");
        userInfoLink.addEventListener("click", function(event) {
            event.preventDefault(); // 링크 클릭 동작 취소
            alert("로그인이 필요합니다."); // 알림 메시지
            
        });
    });
</script>

</html>