{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
    <link rel="stylesheet" type="text/css" href='/static/css/post.css'></head>
<body>
    {% include 'navbar.html' %}
    {% block content %}
    <div class="header">
        <div class="header_in_header">
            <!--게시물 제목-->
            <div class="header_info">
                <div class="header_title"><h1>{{ post.post_title }}</h1></div>
                <div class="recipes_tags">
                    <!-- 인분 정보 -->
                    <div class="posted_by">
                        <div>
                            <img class="posted_img" src="{% static 'img\Timer.svg' %}" alt="">
                        </div>
                        <div class="posted_by_info">
                            <div class="time_text">작성자</div>
                            <div class="posted_by_info">{{ post.user_nick }}</div>
                        </div>
                    </div>
                    
                    <!-- 조리시간 정보 -->
                    <div class="posted_by">
                        <div>
                            <img class="posted_img" src="{% static 'img\Timer.svg' %}" alt="">
                        </div>
                        <div class="posted_by_info">
                            <div class="time_text">작성시간</div>
                            <div class="time">{{ post.post_time }}</div>
                        </div>
                    </div>
                    
                    <!-- 조리 난이도 정보 -->
                    <div class="posted_by">
                        <div>
                            <img class="posted_img" src="{% static 'img\ForkKnife.svg' %}" alt="">
                        </div>
                        <div class="posted_by_info">
                            <div class="time_text">조회수</div>
                            <div class="posted_by_info_text">{{ post.post_hit }}</div>
                        </div>
                    </div>
                    <div class="posted_by">
                        <div>
                            <img class="posted_img" src="{% static 'img\ForkKnife.svg' %}" alt="">
                        </div>
                        <div class="posted_by_info">
                            <div class="time_text">좋아요</div>
                            <div class="posted_by_info_text">{{ post.post_like }}</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="icons">
                <div class="icons_box">
                    <div class="icon_box">
                        <img class="icon" src="{% static 'img\printer.svg'%}" alt="">
                    </div>
                    <label class="print">print</label>
                </div>
                <div class="share-button">
                    <div class="icon_box">
                        <img class="icon" src="{% static 'img\share.svg'%}" alt="">
                    </div>
                    <label class="share">share</label>
                </div>
            </div>
            
        </div>
        
        <!--메인 사진, 영양성분표, 레시피 설명-->
    </div>
    
    <div class="icons">
        <a href="{% url 'board' 'ALL' %}">돌아가기</a>
        {% if user_name == post.user_nick %}
            <a href="{% url 'edit_post' post_no=post.post_no %}">글 수정</a>
            
            <form method="post" action="{% url 'edit_post' post_no=post.post_no %}">
            {% csrf_token %}
            <button type="submit" name="delete" class="btn btn-danger">글 삭제</button>
            </form>
        {% endif %}
    </div>
    <div class="header">
            <!--조리 순서별로 사진이랑 같이-->
        
            <div class="post-content">

                {{ post.post_content | safe }}
            </div>

    </div>
{% endblock %}
    <!--deliciousness to your inbox-->
<div id="bottom">
    <!--메뉴 추천부분-->
    {% include 'user_recommend.html' %}
</div>
{% include "footerbar.html" %}
</body>
<script>
    // 공유하기 버튼 클릭 시
    document.querySelector('.share-button').addEventListener('click', function() {
      let postUrl = window.location.href;
      
      // 클립보드에 복사
      let tempInput = document.createElement("input");
      document.body.appendChild(tempInput);
      tempInput.value = postUrl;
      tempInput.select();
      document.execCommand("copy");
      document.body.removeChild(tempInput);
      
      // 알림 표시
      alert('포스트 링크가 클립보드에 복사되었습니다');
    });

    // .post-content p img 요소를 선택합니다.
    var imgElement = document.querySelector('.post-content p img');
    var pElement = document.querySelector('.post-content p');
    var pElements = document.querySelectorAll('.post-content p');

    // img 요소의 style 속성에 width를 1200px로 지정합니다.
    imgElement.style.width = '1200px';
    imgElement.style.borderRadius = '20px'
    pElement.style.textAlign = 'center';
    // 첫번째 p tag
    var secondPElement = pElements[1];
    secondPElement.style.fontSize = '32px';
    secondPElement.style.fontWeight = 'bold';
    secondPElement.style.backgroundColor = 'transparent';
    // 두번째 p tag
    var thirdPElement = pElements[2];
    thirdPElement.style.fontSize = '32px';
    thirdPElement.style.fontWeight = 'bold';
    thirdPElement.style.backgroundColor = 'transparent';

    var ulElement = document.querySelector('.post-content ul');
    ulElement.style.backgroundColor = 'transparent';
    
    var liElements = document.querySelectorAll('.post-content ul li');

    // 모든 li 요소에 font-size를 24px로 설정합니다.
    liElements.forEach(function(liElement) {
        liElement.style.fontSize = '24px';
        liElement.style.marginBottom = '10px';
    });

    // .post-content ol 요소를 선택합니다.
    var olElement = document.querySelector('.post-content ol');

    // 배경색을 무색(transparent)으로 설정합니다.
    olElement.style.backgroundColor = 'transparent';

    // .post-content ol li 요소들을 선택합니다.
    var olLiElements = document.querySelectorAll('.post-content ol li');

    // 모든 ol li 요소에 font-size와 margin-bottom을 설정합니다.
    olLiElements.forEach(function(liElement) {
        liElement.style.fontSize = '24px';
        liElement.style.marginBottom = '10px';
    });



  </script>
</html>