{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{% static 'post.css' %}">
</head>
<body>
    {% include 'navbar.html' %}
    <div class="header">
            <div class="header_in_header">
                <!--게시물 제목-->         
            <div class="header_title"><h1>맛있는 양고기 덮밥</h1></div>
            <!--게시한 사용자, 요리 준비 시간, 조리시간, 핵심재료 =>레시피 테그-->
            <div class="recipes_tags">
                <div class="posted_by">
                    <div class="auther_thumnail"><img src="" alt=""></div>
                    <div class="auther_name">이성기</div>
                    <div class="posted_time">231015</div>
                </div>
                <div class="prep_time">
                    <div class="timer"><img src="{ % static 'P_Ndjango\contents_app\static\img\timer.svg' %}" alt="timer"></div>
                    <div class="prep_time_prep_time"></div>
                    <div class="prep_time_duration">15분</div>
                </div>
                <div class="cook_time">
                    <div class="timer"><img src="P_Ndjango\contents_app\static\img\timer.svg" alt="timer"></div>
                    <div class="cook_time_cook_time"></div>
                    <div class="cook_time_duration">15분</div>
                </div>
                <div class="main_ingredient">
                    <div class="fork_knife"><img src="P_Ndjango\contents_app\static\img\forkknife.svg" alt=""></div>
                    <div class="ingredient_of_meal">양고기</div>
                </div>
            </div>
        </div>
        <div class="icons">
            <button><div class="print_icon">
                <img src="P_Ndjango\contents_app\static\img\eclipse17.svg" alt="">
                <img src="P_Ndjango\contents_app\static\img\printer.svg" alt="">
            </div></button>
            <div class="print">print</div>
            <button><div class="share_icon">
                <img src="P_Ndjango\contents_app\static\img\eclipse17.svg" alt="">
                <img src="P_Ndjango\contents_app\static\img\share.svg" alt="">
            </div></button>
            <div class="share">share</div>
        </div>
        <!--메인 사진, 영양성분표, 레시피 설명-->
        <div class="main_picture">
            <div class="picture_frame"></div>
        </div>
        <div class="nutrition_card">
            <div class="card_frame"></div>
            <div class="nutrition_info">영양성분</div>
            <div class="calories">칼로리</div>
            <div class="total_Fat">지방</div>
            <div class="Protein">단백질</div>
            <div class="carbohydrate">탄수화물</div>
            <div class="cholesterol">콜레스테롤</div>
            <div class="additional_nutrition_exp">부가적일 설명 부가부가</div>
        </div>
        <div class="recipe_info">레시피는 이래이래 저래저래</div>
    </div>
    <div class="body_01">

        <!--Ingredients 부분-->
        <div class="ingredients">
        <!--메인메뉴 재료, 소스재료-->
        <div class="ingredients_title">재료</div>
        <div class="ingredients_main_menu">
            <div class="for_main_menu">메인디쉬를 위한 재료</div>
            <input type="checkbox" class="checkbox">
            <label>메인메뉴 재료</label>
            <input type="checkbox" class="checkbox">
            <label>메인메뉴 재료</label>
            <input type="checkbox" class="checkbox">
            <label>메인메뉴 재료</label>
            <input type="checkbox" class="checkbox">
            <label>메인메뉴 재료</label>
        </div>
        <div class="sauce">
            <div class="for_the_sauce">소스에 필요한 재료</div>
            <input type="checkbox" class="checkbox">
            <label>소스 재료</label>
            <input type="checkbox" class="checkbox">
            <label>소스 재료</label>
            <input type="checkbox" class="checkbox">
            <label>소스 재료</label>
            <input type="checkbox" class="checkbox">
            <label>소스 재료</label>
        </div>
    </div>
    
    <div class="other_recipe">
        <!--추천하는 다른 레시피 부분-->
        <div class="other_recipe_title"></div>
        <div class="other_recipes">
            <div class="orther_recipe_title">치킨미트볼이랑 크림치즈</div>
            <div class="other_recipe_content_pic"><img src="P_Ndjango\contents_app\static\img\치킨미트볼.png" alt="치킨미트볼이랑 크림치즈"></div>
            <div class="other_recipe_auther">안드레아스 파울라</div>
        </div>
        <div class="other_recipes">
            <div class="orther_recipe_title">크림드간 치킨</div>
            <div class="other_recipe_content_pic"><img src="P_Ndjango\contents_app\static\img\치킨미트볼.png" alt="치킨미트볼이랑 크림치즈"></div>
            <div class="other_recipe_auther">안드레아스 파울라</div>
        </div>
        <div class="other_recipes">
            <div class="orther_recipe_title">쉬운치밥</div>
            <div class="other_recipe_content_pic"><img src="P_Ndjango\contents_app\static\img\치킨미트볼.png" alt="치킨미트볼이랑 크림치즈"></div>
            <div class="other_recipe_auther">안드레아스 파울라</div>
        </div>
    </div>
    <div class="ads">
        <!--광고부분-->
        <div class="ads_frame"></div>
        <div class="ads_text">건강한 음식을 먹어야 하는겄을 잊지마입시다</div>
        <div class="ads_food_image"></div>
    </div>
</div>

<div class="directions">
    <h3>요리방법</h3>
    <div class="body_02">
            <div class="cooking_step">
                <div class="steps"><img src="P_Ndjango\contents_app\static\img\component1.svg"><h3>단계</h3></div>
                <div class="step_by_step_content">내용내용내용내용</div>
            </div>
            <div class="cooking_step">
                <div class="steps"><img src="P_Ndjango\contents_app\static\img\component1.svg"><h3>단계</h3></div>
                <div class="step_by_step_content">내용내용내용내용</div>
            </div>
            <div class="cooking_step">
                <div class="steps"><img src="P_Ndjango\contents_app\static\img\component1.svg"><h3>단계</h3></div>
                <div class="step_by_step_content">내용내용내용내용</div>
            </div>
        </div>
            <!--Directions옆에 사진-->
    <div class="cooking_image"><img src="P_Ndjango\contents_app\static\img\요리 이미지.png"></div>
</div>

    <!--deliciousness to your inbox-->
    <div class="subscribe_box">
        <p>이메일 입력하면 구독하는거</p>
        <form action="/subscribe" method="post">
            <input type="email" name="email" placeholder="이메일을 입력해주세요" required>
            <button type="submit">구독하기</button>
        </form>
    </div>

    <!--메뉴 추천부분-->
    <div class="recipe_recommendation">
        <h3>이런 메뉴들도 죠습니다</h3>
        <div class="recommended_menu">
            <div class="recommended_menu_img"><img src="P_Ndjango\contents_app\static\img\추천매뉴.png"></div>
            <div class="recommended_menu_name">화채</div>
            <div class="recommended_menu_coocking_time">30분</div>
            <div class="recommended_menu_category">건강식</div>
        </div>
        <div class="recommended_menu">
            <div class="recommended_menu_img"><img src="P_Ndjango\contents_app\static\img\추천매뉴.png"></div>
            <div class="recommended_menu_name">화채</div>
            <div class="recommended_menu_coocking_time">30분</div>
            <div class="recommended_menu_category">건강식</div>
        </div>
        <div class="recommended_menu">
            <div class="recommended_menu_img"><img src="P_Ndjango\contents_app\static\img\추천매뉴.png"></div>
            <div class="recommended_menu_name">화채</div>
            <div class="recommended_menu_coocking_time">30분</div>
            <div class="recommended_menu_category">건강식</div>
        </div>
        <div class="recommended_menu">
            <div class="recommended_menu_img"><img src="P_Ndjango\contents_app\static\img\추천매뉴.png"></div>
            <div class="recommended_menu_name">화채</div>
            <div class="recommended_menu_coocking_time">30분</div>
            <div class="recommended_menu_category">건강식</div>
        </div>
    </div>
    {% include "footerbar.html" %}
</body>
</html>