{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href='/static/css/post.css'></head>
<body>
    {% include 'navbar.html' %}
    {% block content %}
    <div class="header">
        <div class="header_in_header">
            <!--게시물 제목-->
            <div class="header_info">
                <div class="header_title"><h1>{{ post.post_title }}</h1></div>
                <div class="recipes_tags">
                    <!-- 인분 정보 -->
                    <div class="posted_by">
                        <div>
                            <img class="posted_img" src="{% static 'P_Ndjango\contents_app\static\img\Timer.svg' %}" alt="">
                        </div>
                        <div class="posted_by_info">
                            <div class="time_text">작성자</div>
                            <div class="posted_by_info">{{ post.user_nick }}</div>
                        </div>
                    </div>
                    
                    <!-- 조리시간 정보 -->
                    <div class="posted_by">
                        <div>
                            <img class="posted_img" src="{% static 'P_Ndjango\contents_app\static\img\Timer.svg' %}" alt="">
                        </div>
                        <div class="posted_by_info">
                            <div class="time_text">작성시간</div>
                            <div class="time">{{ post.post_time }}</div>
                        </div>
                    </div>
                    
                    <!-- 조리 난이도 정보 -->
                    <div class="posted_by">
                        <div>
                            <img class="posted_img" src="{% static 'P_Ndjango\contents_app\static\img\ForkKnife.svg' %}" alt="">
                        </div>
                        <div class="posted_by_info">
                            <div class="time_text">조회수</div>
                            <div class="posted_by_info_text">{{ post.post_hit }}</div>
                        </div>
                    </div>
                    <div class="posted_by">
                        <div>
                            <img class="posted_img" src="{% static 'P_Ndjango\contents_app\static\img\ForkKnife.svg' %}" alt="">
                        </div>
                        <div class="posted_by_info">
                            <div class="time_text">좋아요</div>
                            <div class="posted_by_info_text">{{ post.post_like }}</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="icons">
                <div class="icons_box">
                    <div class="icon_box">
                        <img class="icon" src="P_Ndjango\contents_app\static\img\printer.svg" alt="">
                    </div>
                    <label class="print">print</label>
                </div>
                <div class="share-button">
                    <div class="icon_box">
                        <img class="icon" src="P_Ndjango\contents_app\static\img\share.svg" alt="">
                    </div>
                    <label class="share">share</label>
                </div>
            </div>
            
        </div>
        
        <!--메인 사진, 영양성분표, 레시피 설명-->
    </div>
    
    <div class="icons">
        <a href="{% url 'board' 'ALL' %}">돌아가기</a>
        {% if user_name == post.user_nick %}
            <a href="{% url 'edit_post' post_no=post.post_no %}">글 수정</a>
            
            <form method="post" action="{% url 'edit_post' post_no=post.post_no %}">
            {% csrf_token %}
            <button type="submit" name="delete" class="btn btn-danger">글 삭제</button>
            </form>
        {% endif %}
    </div>
    <div class="body_02">
            <!--조리 순서별로 사진이랑 같이-->
        
            <div class="post-content">{{ post.post_content | safe }}</div>

    </div>
{% endblock %}
    <!--deliciousness to your inbox-->
<div id="bottom">
    <!--메뉴 추천부분-->
    <div id="recommend_box">
        <p class="recommend_title">Recommend Recipes</p>
        <div class="recommend_recipes">
            <div class="recommend_info">
                <div class="recommend_img">

                </div>
                <p class="food_name">음식 이름</p>
            </div>
            <div class="recommend_info">
                <div class="recommend_img">

                </div>
                <p class="food_name">음식 이름</p>
            </div>
            <div class="recommend_info">
                <div class="recommend_img">

                </div>
                <p class="food_name">음식 이름</p>
            </div>
            <div class="recommend_info">
                <div class="recommend_img">

                </div>
                <p class="food_name">음식 이름</p>
            </div>
        </div>
    </div>
</div>
{% include "footerbar.html" %}
</body>
<script>
    // 공유하기 버튼 클릭 시
    document.querySelector('.share-button').addEventListener('click', function() {
      let postUrl = window.location.href;
      
      // 클립보드에 복사
      let tempInput = document.createElement("input");
      document.body.appendChild(tempInput);
      tempInput.value = postUrl;
      tempInput.select();
      document.execCommand("copy");
      document.body.removeChild(tempInput);
      
      // 알림 표시
      alert('포스트 링크가 클립보드에 복사되었습니다');
    });
  </script>
</html>