{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href='/static/css/recipe.css'>
</head>
<body>
    {% include 'navbar.html' %}
    <div class="head_container">
        <div class="header">
            <div class="header_in_header">
                <!--게시물 제목-->
                <div class="header_info">
                    <div class="title_container">
                        <div class="header_title">
                            <h1>{{ recipe.recipe_title }}</h1>
                        </div>
                        <div class="recipes_tags">
                            <!-- 인분 정보 -->
                            <div class="posted_by">
                                <div>
                                    <img class="posted_img" src="{% static 'img\Timer.svg' %}" alt="">
                                </div>
                                <div class="posted_by_info">
                                    <div class="posted_by_info">{{ recipe.serving }}</div>
                                </div>
                            </div>
                                
                            <!-- 조리시간 정보 -->
                            <div class="posted_by">
                                <div>
                                    <img class="posted_img" src="{% static 'img\Timer.svg' %}" alt="">
                                </div>
                                <div class="posted_by_info">
                                    <div class="time_text">조리시간</div>

                                    <div class="time">{{ recipe.cook_time }}</div>
                                </div>
                            </div>
                                
                            <!-- 조리 난이도 정보 -->
                            <div class="posted_by">
                                <div>
                                    <img class="posted_img" src="{% static 'img\ForkKnife.svg' %}" alt="">
                                </div>
                                <div class="posted_by_info">
                                    <div class="posted_by_info_text">{{ recipe.recipe_level }}</div>
                                </div>
                            </div>
                        </div>

                    </div>
                        
                    <div class="icons">
                        <div class="icons_box">
                            <div class="icon_box">
                                <img class="icon" src="{% static 'img\printer.svg'%}" alt="">
                            </div>
                            <label class="print">print</label>
                        </div>
                        <div class="icons_box">
                            <div class="icon_box">
                                <img class="icon" src="{% static 'img\share.svg' %}" alt="">
                            </div>
                            <label class="share">share</label>
                        </div>
                    </div>
                </div>
    
                <!--메인 사진, 영양성분표, 레시피 설명-->
                <div class="main_box">
                    <div class="main_picture">
                        <img class="thumbnail" src="{{ thumbnail }}" alt="Thumbnail">
                    </div>  
                    <div class="recipe_info">
                        <p class="title_ingredient">재  료</p>
                        {% for ingredient in ingredients_list %} 
                        <span class="ingredient">{{ ingredient }}</span>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="main_container">
            <div class="recipe_container">
                <h3 class="h3">요리방법</h3>
                <div class="body_02">
                    <!--조리 순서별로 사진이랑 같이-->
                    {% for image, informations in recipelist %}
                    {% csrf_token %}
                    <div class="recipe">
                        <div class="recipe_img">
                            <img class="rec_img"src="{{image}}" alt="">
                        </div>
                        <div class="recipe_ex">
                            <div class="information">
                                <p>"{{ informations }}"</p>
                            </div>
                            
                        </div>
                    </div>
                    {% endfor %}
                    
                </div>

            </div>
            <div class="side_recipe">
                <span class="side_title">또 다른 레시피</span>
                <!--추천하는 다른 레시피 부분-->
                {% for board, rec_image in popular_boards_with_thumbnail %}
                <div class="other_recipes">
                    <a href="{% url 'post' board.post_no %}">
                        <div class="other_recipe_content_pic">
                            <img class="rec_image"src="{{ rec_image|default:icon_photo }}" alt="rec_image">
                        </div>
                    </a>
                    <div class="other_recipe_info">
                        <a href="{% url 'post' board.post_no %}">
                            <div class="orther_recipe_title">
                                {{ board.post_title }}
                            </div>
                        </a>
                        <div class="other_recipe_auther">
                            {{ board.user_nick }}
                        </div>
                    </div>
                </div>
                {% endfor %}

                <div class="ads">
                    <img src="{% static 'img/side_banner.jpg' %}" alt="">
                </div>
            </div>
        </div>
        <div id="recommend_box">
            <p class="recommend_title">Recommend Recipes</p>
            <div class="recommend_recipes">
                {% for recipe, thumbnail in random_recipes_with_thumbnail %}
                <div class="rec_recipe_info">
                    <a href="{% url 'recipe' recipe.recipe_no %}">
                        <div class="recommend_img">
                            <img class="thumbnail" src="{{ thumbnail }}" alt="Thumbnail Image">
                            <p class="food_name">{{ recipe.recipe_title }}</p>
                        </div>
                    </a>

                </div>
                {% endfor %}
            </div>
        </div>
        
        
        <br><br><br><br>
    </div>
    {% include "footerbar.html" %}
    
    

</body>
<script>
    // 공유하기 버튼 클릭 시
    document.querySelector('.share').addEventListener('click', function() {
      let postUrl = window.location.href;
      
      // 클립보드에 복사
      let tempInput = document.createElement("input");
      document.body.appendChild(tempInput);
      tempInput.value = postUrl;
      tempInput.select();
      document.execCommand("copy");
      document.body.removeChild(tempInput);
      
      // 알림 표시
      alert('포스트 링크가 클립보드에 복사되었습니다');
    });


</script>

</html>