{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- 로컬 변환용 -->
    <link rel="stylesheet" type="text/css" href="static/css/search.css">
    <!-- S3 배포용 -->
    <!-- <link rel="stylesheet" type="text/css" href="{% static 'css/search.css' %}?{% now 'U' %}"> -->
</head>
<body>
    <header>
        {% comment %} 상단 네비게이션 {% endcomment %}
        <div id="nav">
            <div class="top_nav">
                <div class="img_box">
                    <a href="{% url 'main' %}">
                        <img class="NDjango_logo" src="{% static 'img/NDjango.png' %}" alt=''>
                    </a>
                </div>
            </div>
            {% comment %} 검색기 변환 {% endcomment %}
            <div class="bottom_nav">
                <a class='search_kind' href="{% url 'search' %}" id="searchLink">레시피 검색</a>
                <a class='search_kind' href="{% url 'material_search' %}" id="ingredientSearchLink">재료로 검색</a>
                <a class='search_kind' href="{% url 'img_search' %}" id="imageSearchLink">이미지 검색</a>
            </div>
        </div>
    </header>
    <article>
        {% comment %} 검색창 {% endcomment %}
        <form method="get" action="{% url 'search_result' %}"></form>
            <div id="search">
                {% csrf_token %}
                <input type="text" id="searchInput" name="search" class="search_input" placeholder="레시피를 입력하세요.">
                <button type="submit" class="search_button">
                    {% comment %} 돋보기 아이콘 넣기 {% endcomment %}
                    <img class="search_img" src="{% static 'img/search_icon.png' %}" alt="">
                </button>
                <div class="voice_btn">
                    <img class="voice" src="{% static 'img/voice_after.png' %}" alt="">
                </div>
            </div>
        </form>
        {% comment %} 인기검색어 {% endcomment %}
        <div id="popular_box">
            <div class="article_text">인기 검색어</div>
            {% comment %} 인기검색어 연동하기 {% endcomment %}
            <div class="popular_keyword">
                <div class="keyword_num_left">
                    <p>1.</p>
                    <p>2.</p>
                    <p>3.</p>
                    <p>4.</p>
                    <p>5.</p>
                </div>
                <div class="keyword_num_right">
                    <p>6.</p>
                    <p>7.</p>
                    <p>8.</p>
                    <p>9.</p>
                    <p>10.</p>
                </div>
            </div>
        </div>
        {% comment %} 인기 레시피 추천 {% endcomment %}
        <div id="popular_cook">
            <div class="article_cook_text">인기 레시피</div>
            {% comment %} 인기 레시피 게시글 크롤링하기 {% endcomment %}
            <div class="popular_chef">
                <div class="posting">
                    <div class="popular_posting">

                    </div>
                    <span class="post_title">
                        게시물 제목
                    </span>
                </div>
                <div class="posting">
                    <div class="popular_posting">

                    </div>
                    <span class="post_title">
                        게시물 제목
                    </span>
                </div>
                <div class="posting">
                    <div class="popular_posting">

                    </div>
                    <span class="post_title">
                        게시물 제목
                    </span>
                </div>
                <div class="posting">
                    <div class="popular_posting">

                    </div>
                    <span class="post_title">
                        게시물 제목
                    </span>
                </div>
            </div>
        </div>
    </article>
</body>
<!-- 로컬 변환용 -->
<!-- <script src="static/js/search.js"></script> -->
<!-- S3 배포용 -->
<script src="{% static 'js/search.js' %}"></script>
</html>