{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- 로컬 작업용 -->
    <link rel="stylesheet" type="text/css" href="static/css/reset.css'">
    <link rel="stylesheet" type="text/css" href="static/css/write_post.css">
    <!-- S3 배포용 -->
    <!-- <link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}?{% now 'U' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/css/write_post.css' %}?{% now 'U' %}"> -->
    <link href="{% static 'django_summernote/summernote-bs4.css' %}" rel="stylesheet">
    <script src="{% static 'django_summernote/summernote-bs4.js' %}"></script>

    <title>write</title>
</head>

<body> <!-- navbar 대체 고민 -->
    <form method="post" action="{% url 'write_post' %}">
        {% csrf_token %}
        <header class="topnav">
            <a href="{%url 'main'%}">
                <img class="NDjango_logo" src="{% static 'img/NDjango.png' %}" alt=''>
            </a>

            <a href="{% url 'main' %}" type="submit" class="button-style" id="save-btn">임시 저장</a>
            <a href="{% url 'main' %}" type="submit" class="publish-button" id="publish-btn">발행</a>
            <input type="submit" name="save-button" class="save-button" value="글 작성" />

        </header>
        <div class="board_content">
            <div class="title">
                <textarea class="post_title" type="text" id="post_title" name="post_title" placeholder="제목" value={{ write_form.post_title }}</textarea>
            </div>
            <div class"post_content" id="post_content" name="post_content">
                    {{ write_form.post_content }}
            </div>
            <div class="box">
                <h2>카테고리</h2>
                <div>
                    <input type="radio" id="recipe" name="board_no" value="1" {% if board_no == '1' %}checked{% endif %}/>
                    <label for="recipe">recipe</label>
                </div>
                <div>
                <input type="radio" id="talk" name="board_no" value="2" {% if board_no == '2' %}checked{% endif %}//>
                <label for="talk">talk</label>
                </div>
            </div>
        </div>
    </form>

    {% include "footerbar.html" %}


</body>

<script>
    $(document).ready(function () {
        $('.summernote').summernote({
            // height: $('.board_content').height() - 100, // 100은 여유 높이 조절값입니다.
        });
    });
</script>


</html>