{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>찜해놓은 레시피</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/reset.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/mypage.css'%}">
    <script src="contents_app/js/mypage_edit.js" defer></script>
</head>

<body>

    <header class='topnav'>
        <div id='main_logo'>
            <a href="{% url 'main' %}">
                <img class="NDjango_logo" src="{% static 'img/NDjango.png' %}" alt=''>
            </a>
        </div>

        <div class='info_login'>
            <a class='alarm_div' href="#" id="alarmLink">
                <img class="alarm_btn" src="{% static 'img/alarm_normal.png' %}" alt=''>
            </a>
            <a class='cate' href={% url "login" %}>Login</a>
        </div>
    </header>

    <script>
        var alarmLink = document.getElementById("alarmLink");
        var img = document.querySelector(".alarm_btn");

        alarmLink.addEventListener("mouseover", function () {
            img.src = "{% static 'img/alarm_react.png' %}";
            img.alt = "New Alt Text";
        });

        alarmLink.addEventListener("mouseout", function () {
            img.src = "{% static 'img/alarm_normal.png' %}";
            img.alt = "Original Alt Text";
        });
    </script>

    <div class="wrapper">
        <aside class="category-sidebar">
            <header>
                <h1 class="chef_njango">{{ user_profile.user_name }} 셰프의 냉장고</h1>
            </header>
            <ul class="category-list">
                <li><a href="user-info">셰프 정보</a></li>
                <li><a href="my-ndjango">내 냉장고</a></li>
                <li><a href="alarm_list">알림 목록</a></li>
                <li><a href="favorite_list">찜해놓은 레시피</a></li>
                <li><a href="current-watching">최근 감상 목록</a></li>

                <!-- Add more categories as needed -->
            </ul>
        </aside>
        <main id="first_main" class="box-contents">

        </main>
    </div>

    {% include 'footerbar.html' %}

    <script>
        function goToEditPage() {
            window.location.href = "profile_edit.html";
        }
    </script>
    </main>

</body>

</html>