{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>요리사 정보</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/reset.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/mypage.css'%}">
    <script src="{% static 'js/profile_edit.js' %}" defer></script>
</head>

<body>

    <header class='topnav'>
        <div id='main_logo'>
            <a href="{% url 'main' %}">
                <img class="NDjango_logo" src="{% static 'img/NDjango.png' %}" alt=''>
            </a>
        </div>

        <div class='info_login'>
            {% if request.session.user_id %}
            <a class='alarm_div' href="#" id="alarmLink">
                <img class="alarm_btn" src="{% static 'img/alarm_normal.png' %}" alt=''>
            </a>
            <a class='cate' href={% url "logout" %}>Logout</a>
            {% else %}
            <a class='alarm_div' href="#" id="alarmLink">
                <img class="alarm_btn" src="{% static 'img/alarm_normal.png' %}" alt=''>
            </a>
            <a class='cate' href={% url "login" %}>Login</a>
            {% endif %}
        </div>
    </header>

    <script>
        var alarmLink = document.getElementById("alarmLink");
        var img = document.querySelector(".alarm_btn");

        alarmLink.addEventListener("mouseover", function () {
            img.src = "{% static 'img/alarm_react.png' %}";
            img.alt = "New Alt Text";
        });

        alarmLink.addEventListener("mouseout", function () {
            img.src = "{% static 'img/alarm_normal.png' %}";
            img.alt = "Original Alt Text";
        });
    </script>
    <div class="wrapper">
        <aside class="category-sidebar">
            {% for user in users %}
            <header>
                <h1 class="chef_njango">{{ User.user_name }} 셰프의 냉장고</h1>
            </header>
            {% endfor %}
            <ul class="category-list">
                <li><a href="user-info">셰프 정보</a></li>
                <li><a href="my-ndjango">내 냉장고</a></li>
                <li><a href="alarm_list">알림 목록</a></li>
                <li><a href="favorite_list">찜해놓은 레시피</a></li>
                <li><a href="current-watching">최근 감상 목록</a></li>

                <!-- Add more categories as needed -->
            </ul>
        </aside>
        <main id="first_main" class="box-contents">
            <section id="profile">
                <div class="profile-picture">
                    <!-- 프로필 업로드 폼 -->
                    <input type="file" id="profile-picture" name="profile-picture" accept="image/*"
                        style="display:none;">
                    <label for="profile-picture">
                        <img id="preview"
                            src="{% if user.user_img %}{% static user.user_img %}{% else %}{% static 'img/chefhat.png' %}{% endif %}"
                            alt="">
                    </label>
                </div>

                <h4>{{ user.user_name }} 성명 </h4><br>
                <h4>{{ user.user_address }} 주소</h4>
            </section><br>

            <div id="user-details" class="user-details">
                <div class="user-info1">
                    <label for="usernickname">닉네임</label><br>
                    <p> {{ user.user_nick }}</p><br><br>

                    <label for="email">이메일 주소</label><br>
                    <p> {{ user.user_email }}</p><br><br>

                    <label for="address">거주지역</label><br>
                    <p> {{ user.user_address }}</p><br><br>
                </div>

                <div class="user-info2">
                    <label for="username">성명</label><br>
                    <p> {{ user.user_name }}</p><br><br>

                    <label for="phonenumber">전화번호</label><br>
                    <p> {{ user.user_phone }}</p><br><br>

                    <label for="date">가입 일자</label><br>
                    <p> {{ user.sub_date }}</p>
                </div>
            </div>

            <div class="buttons">
                <a href="{% url 'profile_edit' %}">
                    <button type="submit" onclick="goToEditPage()"> 프로필 편집 </button>
                </a>
            </div>
        </main>

    </div>

    {% include 'footerbar.html' %}



</body>

</html>