{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>요리사 정보</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/reset.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/mypage.css'%}">
    <script src="{% static 'js/profile_edit.js' %}" defer></script>
</head>

<body>
    {% include 'navbar.html' %}
    <div class="wrapper">

        <aside class="category-sidebar">

            <ul class="category-list">
                <li><a href="user-info">셰프 정보</a></li>
                <li><a href="my-ndjango">내 냉장고</a></li>
                <li><a href="alarm_list">알림 목록</a></li>
                <li><a href="favorite_list">찜해놓은 레시피</a></li>
                <li><a href="current-watching">최근 감상 목록</a></li>

                <!-- Add more categories as needed -->
            </ul>
        </aside>
        <main id="first_main" class="box-contents">
            <form method="POST" action="{% url 'profile_edit' %}" enctype="multipart/form-data">
                {% comment %} enctype="multipart/form-data" {% endcomment %}
                {% csrf_token %}
                <section id="profile">
                    <div class="profile-picture">
                        <!-- 프로필 업로드 폼 -->
                        <label for="preview">
                            <img id="preview"
                                src="{% if user.image %}{{ user.image }}{% else %}{% static 'img/chefhat.png' %}{% endif %}"
                                alt="">
                                <input type="file" name="new_image" accept="image/*">
                        </label>
                    </div>
                    <div class="little-data">
                        <h3> {{ user.user_name }}님</h3><br>
                        <h3> {{ user.user_point }} point </h3>

                    </div>

                </section><br>

                <div id="user-details" class="user-details">
                    <div class="user-info1">
                        <label for="usernickname">닉네임</label><br>
                        <input type="text" name="new_nickname" value="{{ user.user_nick }}"><br><br>


                        <label for="address">거주지역</label><br>
                        <input type="text" name="new_address" value="{{ user.user_address }}"><br><br>
                    </div>

                    <div class="user-info2">
                        <label for="email">이메일 주소</label><br>
                        <input type="email" id="email" readonly value="{{ user.user_email }}"><br><br>

                        <label for="phonenumber">전화번호</label><br>
                        <input type="text" id="phonenumber" readonly value="{{ user.user_phone }}"><br><br>

                    </div>
                </div>
                <div class="buttons">
                    <input type="submit" name="edit_button" class="edit_button"  value="프로필편집">
                </div>
            </form>
        </main>
    </div>
    {% include 'footerbar.html' %}
</body>

</html>