{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Profile</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/reset.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/my_page.css'%}">
    <script src="account_app/js/mypage_edit.js" defer></script>
</head>

<body>
    {% include 'navbar.html' %}
    <header>
        <h1>Edit Profile</h1>
    </header>
    <section id="profile" style="display:flex; align-items:center;">
        <div class="profile-picture">
            <!-- 프로필 업로드 폼 -->
            <input type="file" id="profile-picture" name="profile-picture"><br>
            <label for="profile-picture">프로필 사진</label>
        </div>

        <div class="user-details" style="margin-left: 20px;">
            <!-- 사용자 이름 / 닉네임? -->
            <label for="username">NAME</label><br>
            <input type="text" id="username" name="username"><br><br>

            <!-- 이메일 주소 입력 -->
            <label for="email">EMAIL ADDRESS</label><br>
            <input type="email" id="email" name="email">
        </div>
    </section>
    <section id="message">

        <!-- subject -->

        <label for="subject">Subject</label><br>
        <input type="text" id="subject" name="subject"><br><br>

        <!-- Enquiry Type -->

        <label for="enquiry-type"> Enquiry Type </label><br>
        <select id="enquiry-type" name="enquiry-type">
            <option value="general">일반 문의</option>
            <option value="support">지원</option>
            <option value="friend">친구 신청</option>
            <option value="colaboration">협업</option>
            <option value="feedback">피드백</option>
            <option value="etc">기타</option>
        </select><br><br>

    </section>

    <!-- 메시지 입력 -->
    <label for="user-message"> MESSAGES </label><br>
    <textarea id="user-message" name="user-message" rows="4" cols="50"></textarea><br><br>

    <!-- 저장 버튼 -->
    <button type="button" id="save-button"> SAVE </button>



</body>

</html>