{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" type="text/css" href='/static/css/myndjango.css'>
        <link rel="stylesheet" type="text/css" href="{% static 'css/myndjango.css'%}">
    </head>
<body>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if user_recommends %}
    <div class="user_recommend_list" id="recommend_box">
        <h2 class="recommend_title">AI 추천 레시피</h2>
        <div class="recommend_recipes">
            {% for recommend in user_recommends %}
            <div class="recommend_info">
                <a href="{% url recommend.url_name recommend.pk %}">
                    <img class="recommend_img" src="{{ recommend.thumbnail }}" alt="">
                    <p class="food_name">{{ recommend.title }}</p>
                </a>
            </div>
            {% endfor %}
        </div>
        <br><br><br><br>
    {% else %}
        <p></p>
    {% endif %}
</body>
</html>