{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- S3 배포용 -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
</head>
<body>
    <div class='container'>
        <div class='left-content'>
            <a class='return_main' href="{% url 'main' %}">HOME</a>
            <div class='welcome'>
                <span class='big-text'>환영합니다!</span>
                <span class='small-text'>로그인을 위해 유효한 이메일과 비밀번호를 입력하세요.</span>
            </div>
            <form id="loginForm" method="post" onsubmit="submitForm(); return false;">
                {% csrf_token %}
                            
                {% comment %} 아이디 {% endcomment %}
                <div class='id-box'>
                    <label for="id">ID</label>
                    <input id='id' type='text' class='user-input' placeholder='Enter your email' name='id' required>
                </div>

                {% comment %} 비밀번호 {% endcomment %}
                <div class='password-box'>
                    <div class='lost-pw'>
                        <label for="password">Password</label>
                        <a class='lost-font' href="">비밀번호를 잊으셨나요?</a>
                    </div>
                    <input id='password' type='password' class='user-input' placeholder='Enter your password' name='password' required>
                </div>

                {% comment %} 체크박스 {% endcomment %}
                <div class='save-box'>
                    <input type="checkbox" class='save-login-box' name='save'>
                    <label class='save-font-box' for="save">이메일 기억하기</label>
                </div>
                
                {% comment %} 로그인 버튼 {% endcomment %}
                <input id="loginButton" type="submit" value="Login">
                <!-- {% comment %} <a class='login-btn' href="{% url 'main' %}">Login</a> {% endcomment %} -->
            </form>
            

            {% comment %} or 구분선 {% endcomment %}
            <div class="hr-container">
                <hr>
                <span class="or-text">or</span>
                <hr>
            </div>

            {% comment %} 소셜 로그인 {% endcomment %}
            <div class='social_login'>
                <a class="social_btn" href="{% url 'social:begin' 'google-oauth2' %}">
                    <img class="social_logo" src="{% static 'img/btn_google.svg' %}" alt="Google logo" />
                    <span class="google_span">Sign in with Google</span>
                </a>

                <a class="social_btn" href="{% url 'social:begin' 'naver' %}">
                    <img class="social_logo" src="{% static 'img/btnW_icon_circle.png' %}" alt="Naver logo" />
                    <span class="naver_span">Sign in with Naver</span>
                </a>
            </div>

            {% comment %} 회원가입 {% endcomment %}
            <div>
                <label for="signup">아직 회원이 아니세요?</label>
                <a class='signup-font' href="{% url 'signup' %}">회원가입</a>
            </div>
        </div>
        <div class='right-content'>
            <article class='login_img'>
                <img class='food_img' src="{% static 'img/food.png' %}" alt="">
            </article>
        </div>
    </div>
</body>
<script>
    // context 데이터에서 result 값을 가져와서 alert 창으로 표시
    {% if result %}
    alert("{{ result }}");
    {% endif %}
</script>

</html>