{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{% static "css/login.css" %}">
</head>
<body>
    <div class='container'>
        <div class='left-content'>
            <div class='welcome'>
                <span class='big-text'>환영합니다!</span>
                <span class='small-text'>로그인을 위해 유효한 이메일과 비밀번호를 입력하세요.</span>
            </div>

            {% comment %} 이메일 {% endcomment %}
            <div class='email-box'>
                <span class='small-text'>이메일</span>
                <input type='text' class='user-input' placeholder='Enter your email' name='username' required>
            </div>

            {% comment %} 비밀번호 {% endcomment %}
            <div class='password-box'>
                <div class='lost-pw'>
                    <span class='small-text'>비밀번호</span>
                    <a class='lost-font' href="">비밀번호를 잊으셨나요?</a>
                </div>
                <input type='text' class='user-input' placeholder='Enter your password' name='password' required>
            </div>

            {% comment %} 체크박스 {% endcomment %}
            <div class='save-box'>
                <input type="checkbox" class='save-login' name='save'>
                <label class='save-font' for="save">이메일 기억하기</label>
            </div>
            <div>
                <button class='login-btn' type="submit">Login</button>
            </div>

            {% comment %} or 구분선 {% endcomment %}
            <div class="hr-container">
                <hr>
                <span class="or-text">or</span>
                <hr>
            </div>

            {% comment %} 소셜 로그인 {% endcomment %}
            <div class='social_login'>
                <a class="social_btn" href="{% url 'social:begin' 'google-oauth2' %}">
                    <img class="social_logo" src="{% static 'img/btn_google.svg' %}" alt="Google logo" />
                    <span class="google_span">Sign in with Google</span>
                </a>

                <a class="social_btn" href="{% url 'social:begin' 'naver' %}">
                    <img class="social_logo" src="{% static 'img/btnW_icon_circle.png' %}" alt="Naver logo" />
                    <span class="naver_span">Sign in with Naver</span>
                </a>
            </div>

            {% comment %} 회원가입 {% endcomment %}
            <div>
                <label for="signup">아직 회원이 아니세요?</label>
                <a class='signup-font' href="{% url 'signup' %}">회원가입</a>
            </div>
        </div>
        <div class='right-content'>
            <article class='login_img'>
                <img class='food_img' src="{% static 'img/food.png' %}" alt="">
            </article>
        </div>
    </div>
</body>
</html>